
body {
    background-image: url("../images/bacteria.jpg");
    color: #4B0082;
}
.jumbotron {
    background-color: aquamarine;
    background-size: cover;
   
  }

  /* .article-title, .article-p {
    padding: 20px;
  }
  form {
    padding: 5px;
  } */
  

  